@font-face {
    font-family: "Frontage Outline";
    src: url("../fonts/Frontage-Outline.otf");
}

:root {
    --mainGreen: #99ff99;
    --mainYellow: #ffff99;
    --mainGray: #ece8dc;
    --mainWhite: #ffe;
    --mainDark: #343434;
    --mainBlue: #35688E;
}

body {
    background: var(--mainYellow);
    color: var(--mainDark);
    font-family: 'Open Sans Condensed', sans-serif !important;
}

.bg-green {
    background: var(--mainGreen);
}

.bg-yellow {
    background: var(--mainYellow);
}

.bg-gray {
    color: var(--mainGray);
}

.bg-dark {
    color: var(--mainDark) !important;
}

.zen-frog {
    width: 500px;
}

.tagline {
    font-family: "Frontage Outline", sans-serif;
    color: var(--mainBlue);
    font-weight: bold;
    text-align: center;
    margin-top: 4rem;
    letter-spacing: .25rem;
    text-shadow: 2px 2px 7px rgba(255, 255, 255, 0.95);
}

.cart-icon {
    color: var(--mainGreen);
    cursor: pointer;
    font-size: 2rem;
}
