@font-face {
    font-family: "Frontage Outline";
    src: url("../fonts/Frontage-Outline.otf");
}

:root {
    --mainGreen: #4DFF6C;
    --mainYellow: #ffff99;
    --mainGray: #ece8dc;
    --mainWhite: #ffe;
    --mainDark: #343434;
    --mainBlue: #35688E;
    --mainLightBlue: #03E5FF;
}

body {
    color: var(--mainDark);
    font-family: 'Open Sans Condensed', sans-serif !important;
}

.bg-green {
    background: var(--mainGreen);
}

.bg-yellow {
    background: var(--mainYellow);
}

.bg-gray {
    background: var(--mainGray);
}

.bg-dark {
    background: var(--mainDark) !important;
}

.main-wrapper .navbar-custom .nav-link-custom {
    color: var(--mainWhite);
}

.main-wrapper .navbar-custom .nav-link-custom:hover {
    color: var(--mainGreen);
}

.zen-frog {
    max-width: 500px;
    width: 100%;
    height: auto;
}

h1.tagline {
    font-family: "Frontage Outline", sans-serif;
    color: var(--mainGreen);
    font-weight: bold;
    text-align: center;
    margin-top: 4rem;
    letter-spacing: .25rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.35);
}

.cart-icon {
    color: var(--mainWhite);
    cursor: pointer;
    font-size: 2rem;
}

section.hero {
    /* background-image: url("https://unsplash.it/1500?random"); */
    background-color: var(--mainLightBlue);
    background-size: cover;
    background-position: center;
    width: 100wh;
    height: 100vh;
    display: -webkit-box;
    display: flex;
}

section.info {
    background-color: var(--mainGreen);
    background-size: cover;
    width: 100wh;
    padding: 3rem 0;
}

.center-content {
    width: 40rem;
    max-width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: auto;
}

.center-content h1, .center-content h3 {
    line-height: 1;
}

.center-content h1 {
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: 0;
    text-align: center;
}

@media (max-width: 600px) {
    .center-content h1 {
        font-size: 1.5rem;
    }
}

.center-content h3 {
    margin-bottom: 40px;
    font-size: 1.5em;
    font-weight: normal;
}

.button {
    text-transform: uppercase;
    color: var(--mainWhite) !important;
    padding: 20px;
    border: 1px solid var(--mainWhite);
    text-decoration: none;
    background: rgba(0, 0, 0, 0.05);
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.7);
    color: var(--mainWhite);
    cursor: pointer;
}

footer {
    color: var(--mainWhite);
}
